<!doctype html>
<html>
    <head>
        <title>Customer Screen</title>
        <link rel= "stylesheet" href ="/style/style.css">
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.min.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src= "/Utility/Utility.js"></script>
        <script src= "/script/Customer.js"></script>
        <script src= "/script/Customer1.js"></script>
        <script src= "/Utility/Constant.js"></script>
        <script src= "/Utility/Values.js"></script>
        <script src= "/script/app.js"></script>
        
        
    </head>
    <body ng-app= "Customer">
        <div>
            <left-menu></left-menu>
            <ui-view></ui-view>
        </div>
    </body>
</html>